
body {
	background: #E0E0E0;
  font-style: sans-serif;
  font-size: 14px;
}

.container {	
  overflow-x: hidden;
  margin: 0 auto;
  padding-bottom: 100px;
  max-width: 1200px; 
}

header {
  padding: 30px; 
}

header i {
  color: #505050;
  font-size: 20px;
}

.logo {
  margin: 20px 70px;
  vertical-align: middle;
  width: 200px;
}

form {
  display: inline-block;
  margin-left: 10px;
}

@media (max-width: 767px) { 
  input {
    max-width: 300px;
  }
}

input {
  background: #FFFFFF;
  outline: 2px solid #BEBEBE;
  padding: 10px;
  width: 600px;
}

input:hover, 
input:focus,
input:active,
input:focus-within {
  background: #FFFFFF;
  outline: 2px solid #666666;
}

.videosWrapper {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  overflow-y: hidden;
  transition: transform 5s ease-out;
  --n: 20;
  width: 100%;
  width: calc(var(--n)*100%);
}

.video {
  background: #F0F0F0;
  border: solid 1px #BEBEBE;
  display: inline-block;
  padding: 15px;
  margin: 10px;
  max-width: 350px;
  pointer-events: none;
  width: calc(100%/var(--n));
  transition: 1s ease-in-out;
}

@media (max-width: 767px) {
  .video {
    width: 100%;
    margin: 0;
    border: 0;
  }
}

.thumb {
  max-width: 100%;
  text-align: center;
}

.video-info {
  color: #666666;
  padding: 10px;
}

.video-info div {
  margin: 15px 20px 15px 0;
}

.video-info div span {
  margin-left: 10px;
}

 h2 {
  color: #505050;
  font-size: 20px;
  pointer-events: auto;
  text-align: center;
 }

 p {
  font-size: 12px;
  text-align: justify;
  overflow: hidden;
 }

a {
  text-decoration: none;
}

.likes,
.dislikes {
  display: inline-block;
}

.likes span {
  color: #339933;
}

.dislikes span{
  color: #F00000 ;
}

.paging {
  text-align: center;
  height: 20px;
  margin-top: 50px;
}

.circle {
  border-radius: 50%;
  background: #000000;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 10px;
  margin: 10px;
  padding: 10px;
  width: 10px;
 
}

.circle.active {
  background: #ff0000;
  color: #FFFFFF;
}

