.checked {
  background: #ccff99;
}

.to-do {
  background: #cccccc;
}

.in-progress {
  background: #ffff66;
}

.checking {
  background: #ffcccc;
}

.no-result {
  background: #cc6666;
}

.note-container {
	max-width: 400px;
}

th {
  width: 50px;
}

table {
  border: 2px solid #cccccc;
}
